<!DOCTYPE html>
<html>
<head>
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="navbar">
        <div id="navbar-items">
            <a href="{{url_for('account')}}" class="icons"><img src="{{ url_for('static', filename='random.png') }}" alt="Profile Picture" id="profile"><div class="hidden">Account</div></a>
            <a href="{{url_for('photos')}}" class="icons"><i class="fa-regular fa-face-laugh-beam"></i><div class="hidden">Images</div></a>
            <a href="{{url_for('home2')}}" class="current"><i class="fa-solid fa-house"></i><div class="hidden">Home</div></a>
            <a href="{{url_for('addpics')}}" class="icons"><i class="fa-solid fa-plus"></i><div class="hidden">Add Images</div></a>
            <a href="{{url_for('videoview')}}" class="icons"><i class="fa-solid fa-video"></i><div class="hidden">Slideshow</div></a>
        </div>
        <div id="login">
            <a href="{{url_for('logout')}}" class="icons"><i class="fa-solid fa-right-from-bracket"></i></i><div class="hidden">Sign Out</div></a>
        </div> 
    </div>
    <div class="wrapper-images">
        <div class="images-line">
        <div class="line" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')"></div>
        </div>
    </div>
    <div class="images-line">
        <div class="line" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')"></div>
        </div>
    </div>
    <div class="images-line">
        <div class="line" style="background-image: url('{{ url_for('static', filename='image11.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image11.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image12.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image12.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image13.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image13.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image14.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image14.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image15.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image15.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image11.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image11.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image12.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image12.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image13.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image13.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image14.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image14.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image15.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image15.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image11.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image11.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image12.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image12.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image13.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image13.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image14.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image14.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image15.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image15.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image11.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image11.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image12.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image12.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image13.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image13.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image14.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image14.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image15.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image15.jpeg') }}')"></div>
        </div>
    </div>
    <div class="images-line">
        <div class="line" style="background-image: url('{{ url_for('static', filename='image16.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image16.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image17.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image17.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image18.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image18.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image19.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image19.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image20.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image20.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image16.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image16.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image17.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image17.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image18.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image18.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image19.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image19.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image20.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image20.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image16.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image16.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image17.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image17.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image18.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image18.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image19.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image19.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image20.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image20.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image16.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image16.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image17.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image17.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image18.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image18.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image19.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image19.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image20.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image20.jpeg') }}')"></div>
        </div>
    </div>
    <div class="images-line">
        <div class="line" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image1.jpeg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image2.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image3.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image4.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image5.jpeg') }}')"></div>
        </div>
    </div>
    <div class="images-line">
        <div class="line" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')"></div>
        </div>
        
        <div class="line" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image6.jpg') }}')">as</div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image7.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image8.jpg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image9.jpeg') }}')"></div>
        </div>
        <div class="line" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')">
            <div class="img" style="background-image: url('{{ url_for('static', filename='image10.jpeg') }}')"></div>
        </div>    
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
