<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </style>
</head>

<body>
    <div id="particles-js"></div>
    <div class="container">
        <div id="login-box">
            <h1 class="text-center">SIGN UP</h1>
            <form action="{{ url_for('signup') }}" method="post" class="form">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form" id="name" name="name" placeholder="Enter your name " style="height:3vh;color: white; padding-bottom:1vh"  required>
                </div>
                <div class="form-group">
                  <label for="enter email">Enter Email</label>
                  <input type="text" class="form" id="email" name="email" placeholder="Enter your email" style="height:3vh; padding-bottom:1vh" required>
                </div>
                <div class="form-group">
                  <label for="enter userid">Enter Usename</label>
                  <input type="text" class="form" id="username" name="username" placeholder="Enter your username"  style="height:3vh; padding-bottom:1vh"   required>
                </div>
                <div class="form-group">
                  <label for="favorite-sport">Security question : Enter your favorite sport</label>
                  <input type="text" id="favourite_sport" name="favourite_sport" placeholder="Enter your favorite sport" style="height:3vh; padding-bottom:1vh"  required>
                </div>
                <div class="form-group">
                  <label for="favourite_sport">PASSWORD</label>
                  <input type="password" class="form" placeholder="Enter your  password" style="height:3vh; padding-bottom:1vh" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-default btn-custom">SIGN UP</button>
                <p class="forgot-password"><a class="bottom" href="{{url_for('login')}}">Back to Login</a></p> 
                {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
            </form>
        </div>
    </div>


    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src="{{ url_for('static', filename='signup.js') }}">
    </script>

</body>

</html>